<strong>Olá, {{provider}} </strong>
<p>Houve um cancelamento de horario, configura os detalhes:</p>
<p>
    <strong>Cliente: </strong> {{user}} <br/>
    <strong>Data/hora: </strong> {{date}} <br/>
    <br/>
    <small>
        O horario esta disponivel para os novos agendamentos.
    </small>
</p>